{
  "extends": ["eslint-config-airbnb", "eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "never"],
    "valid-jsdoc": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "comma-dangle": 0,
    "react/jsx-uses-vars": 1,
    "react/display-name": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [0, { "forbid": ["object"] }],
    "react/prefer-stateless-function": "off",
    "no-unused-vars": "warn",
    "no-console": 1,
    "no-unexpected-multiline": "warn"
  },
  "plugins": [
    "react"
  ]
}
